<section
  class="login-section vh-lg-100 bg-login"
  *ngIf="isVerified && !isSubmitted">
  <div class="container mt-lg-5">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="wrap d-md-flex">
          <div class="col-md-6 col-lg-5 order-md-first bg-login-img"></div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-2 text-center">Reset Password</h3>
              </div>
            </div>
            <form
              [formGroup]="resetPassForm"
              (ngSubmit)="resetPassword()"
              class="reset-form align-content-center">
              <div class="form-group row mb-4 mt-3">
                <div class="col-md-12 col-lg-12">
                  <label for="float-input">Password</label>
                  <div class="p-inputgroup">
                    <input
                      [type]="showPassword ? 'text' : 'password'"
                      pPassword
                      formControlName="password"
                      class="form-control form-control-lg"
                      (blur)="validatePassword()"
                      [feedback]="false" />
                    <button
                      pButton
                      type="button"
                      (click)="showPassword = !showPassword"
                      [icon]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"
                      class="p-inputgroup-addon p-button-outlined p-button-secondary"></button>
                  </div>

                  <div class="p-inputgroup text-danger">
                    <small *ngIf="validateControl('password')" class="p-error"
                      ><span
                        *ngIf="resetPassForm.get('password')?.errors?.['required']"
                        >Password is Required.</span
                      >
                      <span
                        *ngIf="resetPassForm.get('password')?.errors?.['pattern']"
                        >Password must contain:
                        <ul>
                          <li>At least one lowercase</li>
                          <li>At least one uppercase</li>
                          <li>At least one numeric</li>
                          <li>Minimum 8 characters</li>
                        </ul>
                      </span>
                    </small>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12">
                  <label for="float-input">Confirm Password</label>
                  <div class="p-inputgroup">
                    <input
                      [type]="showConfirmPassword ? 'text' : 'password'"
                      pPassword
                      formControlName="confirmPassword"
                      class="form-control form-control-lg"
                      (blur)="validatePassword()"
                      [feedback]="false" />
                    <button
                      pButton
                      type="button"
                      (click)="showConfirmPassword = !showConfirmPassword"
                      [icon]="
                        showConfirmPassword ? 'pi pi-eye-slash' : 'pi pi-eye'
                      "
                      class="p-inputgroup-addon p-button-outlined p-button-secondary"></button>
                  </div>

                  <div class="p-inputgroup text-danger">
                    <small
                      *ngIf="validateControl('confirmPassword')"
                      class="p-error"
                      ><span
                        *ngIf="resetPassForm.get('confirmPassword')?.errors?.['required']"
                        >Confirm Password is Required.</span
                      >
                      <span
                        *ngIf="resetPassForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']"
                        >Passsword and Confirm Password didn't match.</span
                      >
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button
                  [disabled]="loading || !resetPassForm.valid"
                  class="btn btn-login btn btn-primary btn-block">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"></span>
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
