<section
  class="login-section vh-lg-100 bg-login"
  *ngIf="isVerified && !isSubmitted">
  <div class="container mt-lg-5">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="wrap d-md-flex">
          <div class="col-md-6 col-lg-5 order-md-first bg-login-img"></div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-2 text-center" *ngIf="!showResetForm">Sign In</h3>
              </div>
            </div>
            <form
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit()"
              *ngIf="!showResetForm">
              <div class="form-group mb-4 mt-3">
                <label for="float-input">Email</label>
                <input
                  type="text"
                  pInputText
                  formControlName="username"
                  class="form-control form-control-lg" />

                <div class="p-inputgroup">
                  <small
                    class="text-danger"
                    *ngIf="(f['username'].touched || submitted) && f['username'].errors?.['required']">
                    Email is required
                  </small>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="float-input">Password</label>
                <div class="p-inputgroup">
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    pInputText
                    formControlName="password"
                    class="form-control form-control-lg" />
                  <button
                    pButton
                    type="button"
                    (click)="showPassword = !showPassword"
                    [icon]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"
                    class="p-inputgroup-addon p-button-outlined p-button-secondary"></button>
                </div>

                <div class="p-inputgroup">
                  <small
                    class="text-danger"
                    *ngIf="(f['password'].touched || submitted) && f['password'].errors?.['required']">
                    Password is required
                  </small>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-2 mb-0">
                  {{ error }}
                </div>
              </div>
              <div class="form-group">
                <button
                  [disabled]="loading"
                  class="btn btn-login btn btn-primary btn-block">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"></span>
                  LOGIN
                </button>
              </div>
              <div class="mt-1 ml-1">
                <a
                  class="cursor-pointer"
                  (click)="showResetForm = !showResetForm"
                  >Forgot Password</a
                ><br />
              </div>
              <div class="text-center mt-4">
                Don't have an account?
                <a class="text-muted cursor-pointer" routerLink="/register"
                  >Sign up</a
                >
                <p-divider align="center">Or</p-divider>
                Go back to
                <a class="text-muted cursor-pointer" routerLink="/">Home</a>
              </div>
              <div class="text-center mt-4"></div>
            </form>
            <form
              [formGroup]="resetPassForm"
              (ngSubmit)="resetPassword()"
              *ngIf="showResetForm"
              class="reset-form align-content-center">
              <div class="form-group mb-4 mt-3">
                <h3 class="mb-2 text-center" *ngIf="showResetForm">
                  Forgot Password
                </h3>
                <label for="float-input">Email</label>
                <input
                  type="text"
                  pInputText
                  formControlName="email"
                  class="form-control form-control-lg" />

                <div class="p-inputgroup">
                  <small
                    class="text-danger"
                    *ngIf="(f['email'].touched || submitted) && f['email'].errors?.['required']">
                    Email is required
                  </small>
                </div>
              </div>
              <div class="form-group">
                <button
                  [disabled]="loading"
                  class="btn btn-login btn btn-primary btn-block">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"></span>
                  Reset Password
                </button>
              </div>
              <div class="text-center mt-4">
                Back to
                <a
                  class="text-muted cursor-pointer"
                  (click)="showResetForm = false"
                  >Sign In</a
                >
                <p-divider align="center">Or</p-divider>
                Go back to
                <a class="text-muted cursor-pointer" routerLink="/">Home</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="login-section vh-100 bg-login"
  *ngIf="!isVerified && isSubmitted">
  <div class="container mt-6">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="bg-white border-round-2xl d-md-flex p-6 wrap">
          <div class="col-12">
            <div class="grid flex-column align-items-center">
              <span class="text-blue-500 font-bold text-3xl"></span>
              <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">
                Verify your Email Address
              </h1>
              <span class="text-600 text-center"
                >Please verify your Email to complete login.<br />
                Didn't Get the Email? <br /><button
                  pButton
                  pRipple
                  type="button"
                  label="Resend Verification Email"
                  class="p-button-text"
                  (click)="resend()"></button>
              </span>

              <div class="col-12 mt-5 text-center">
                <i
                  class="pi pi-fw pi-arrow-left text-blue-500 mr-2"
                  style="vertical-align: center"></i
                ><a (click)="resetForm()" class="text-blue-500 cursor-pointer"
                  >Go to Login</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
