<div
  class="hero-slant overlay"
  data-stellar-background-ratio="0.5"
  style="background-image: url('assets/img/hero-min.jpg')">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-7 animate__animated animate__fadeInDown">
        <h1 class="text-white fw-bold mb-4">Ocampo Dental Clinic</h1>
        <p class="text-white mb-4">
          With a strong commitment to patient satisfaction and oral health, Dr.
          Ocampo ensures that every patient receives personalized care in a
          welcoming and professional environment. As a licensed dentist, she
          continues to stay at the forefront of dental advancements, providing
          top-notch treatment for her patients.
        </p>
        <a [routerLink]="'appointment'" class="appointment-btn py-3 px-4"
          >Make an Appointment</a
        >
      </div>
    </div>
  </div>

  <div
    class="slant"
    style="background-image: url('assets/img/slant.svg')"></div>
</div>
<!-- End Hero -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 animate__animated animate__fadeInDown">
        <img class="img-fluid about-img" src="assets/img/about.png" alt="" />
      </div>
      <div class="col-lg-6 animate__animated animate__fadeInUp">
        <div class="h-100">
          <h1 class="display-6">About Us</h1>
          <div class="text-secondary">
            <div class="border rounded p-4">
              <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                  <button
                    class="nav-link fw-semi-bold active"
                    id="nav-story-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-story"
                    type="button"
                    role="tab"
                    aria-controls="nav-story"
                    aria-selected="true">
                    History & mission
                  </button>
                  <button
                    class="nav-link fw-semi-bold"
                    id="nav-mission-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-mission"
                    type="button"
                    role="tab"
                    aria-controls="nav-mission"
                    aria-selected="false">
                    Goals
                  </button>
                  <button
                    class="nav-link fw-semi-bold"
                    id="nav-vision-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-vision"
                    type="button"
                    role="tab"
                    aria-controls="nav-vision"
                    aria-selected="false">
                    Vision
                  </button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="nav-story"
                  role="tabpanel"
                  aria-labelledby="nav-story-tab">
                  <p>
                    Ocampo Dental Clinic is a private dental facility
                    established in 2010 and located at 1107 McArthur Hi-way
                    Camachiles, Mabalacat City, Pampanga. Operated by Dr. Armina
                    L. Ocampo D.M.D. at Ocampo Dental Clinic, our goal is to
                    ensure every patient leaves with a healthy, confident smile,
                    while fostering long-term relationships based on trust,
                    respect, and quality care.
                  </p>
                  <p>
                    We strive to make dental care accessible, comfortable, and a
                    positive experience for all.
                  </p>
                </div>
                <div
                  class="tab-pane fade"
                  id="nav-mission"
                  role="tabpanel"
                  aria-labelledby="nav-mission-tab">
                  <ul>
                    <li>
                      Deliver High-Quality Care: Provide expert dental services
                      with a focus on patient comfort and precision.
                    </li>
                    <li>
                      Enhance Oral Health Education: Empower patients with
                      knowledge and tools for maintaining optimal oral hygiene.
                    </li>
                    <li>
                      Improve Patient Experience: Ensure every visit is
                      efficient, welcoming, and anxiety-free.
                    </li>
                    <li>
                      Expand Access to Care: Offer affordable services and
                      flexible payment options to reach more community members.
                    </li>
                  </ul>
                </div>
                <div
                  class="tab-pane fade"
                  id="nav-vision"
                  role="tabpanel"
                  aria-labelledby="nav-vision-tab">
                  <ul>
                    <li>
                      Gentleness & Kindness - We know that dental care can
                      sometimes feel intimidating, so we make sure to greet
                      every patient with warm smiles and a caring approach.
                    </li>
                    <li>
                      Patient Comfort Comes First- Your comfort is our priority!
                      we believe in making sure every patient feels relaxed and
                      at ease from the moment they walk in.
                    </li>
                    <li>
                      Transparency & Trust - We believe in being open and honest
                      with our patients about their treatment plans. Building
                      trust is our foundation.
                    </li>
                    <li>
                      Continuous Growth & Learning- Our team is constantly
                      learning and growing. We value staying curious and
                      continuously improving our skills to provide the best care
                      possible.
                    </li>
                    <li>
                      Family-Friendly Care - we welcome patients of all ages
                      with open arms and make sure everyone feels like they’re
                      at home when visiting our clinic.
                    </li>
                    <li>
                      Community Love- We love our community! Our clinic is
                      rooted in the belief that giving back and getting involved
                      is just as important as providing care. We believe that
                      when you’re happy, we’ve succeeded!
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
<!-- Meet the doctor start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 animate__animated animate__fadeInUp">
        <div class="h-100">
          <h1 class="display-6">Meet Our Dentist</h1>
          <p class="text-primary fs-5 mb-4">Dr. Armina L. Ocampo, DMD</p>
          <div class="text-secondary">
            Meet Dr. Armina L. Ocampo, D.M.D. Founder and Lead Dentist | Ocampo
            Dental Clinic Dr. Armina L. Ocampo, D.M.D., is a highly experienced
            dentist with over 10 years of practice in the field. She earned her
            degree in Dentistry from the Manila Central University in 2004 and
            has since been dedicated to providing exceptional dental care to the
            community of Mabalacat City, Pampanga. Her clinic, Ocampo Dental
            Clinic, established in 2010, offers a range of services including
            orthodontics, cosmetic dentistry, and emergency care.
          </div>
        </div>
      </div>
      <div class="col-lg-6 animate__animated animate__fadeInDown">
        <img
          class="img-fluid about-img avatar"
          src="assets/img/dentist.jpg"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Meet the doctor end -->
  <div class="container-fluid facts my-5 py-5">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-sm-12 col-lg-6 text-center">
          <i class="fa fa-users fa-3x text-white mb-3"></i>
          <h1 class="display-4 text-white">10+</h1>
          <span class="fs-5 text-white">Patients Per Day</span>
          <hr class="bg-white w-25 mx-auto mb-0" />
        </div>
        <div class="col-sm-12 col-lg-6 text-center">
          <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
          <h1 class="display-4 text-white">3</h1>
          <span class="fs-5 text-white">Dedicated Staff</span>
          <hr class="bg-white w-25 mx-auto mb-0" />
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <p
            class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3 whyUs">
            Why Choose Us!
          </p>
          <h1 class="display-5 mb-4">Few Reasons Why People Choosing Us!</h1>
          <p class="mb-4 text-secondary text-justify">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed saepe
            voluptatibus ipsa corrupti ullam enim, tempora excepturi quas sunt
            possimus? Illum molestias inventore accusantium hic earum
            recusandae! Sequi, modi quibusdam.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="row g-4 align-items-center">
            <div class="col-md-6">
              <div class="row g-4">
                <div class="col-12">
                  <div class="border rounded p-4">
                    <h4 class="mb-3 fw-bold">
                      <i class="fa fa-check mr-2 text-primary"></i>Lorem Ipsum
                      dolor
                    </h4>
                    <p class="mb-3 text-secondary">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Sit culpa eos adipisci quam. Aperiam, dolor!
                    </p>
                  </div>
                </div>
                <div class="col-12">
                  <div class="border rounded p-4">
                    <h4 class="mb-3 fw-bold">
                      <i class="fa fa-check mr-2 text-primary"></i>Lorem Ipsum
                      dolor
                    </h4>
                    <p class="mb-3 text-secondary">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Sit culpa eos adipisci quam. Aperiam, dolor!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="border rounded p-4">
                <h4 class="mb-3 fw-bold">
                  <i class="fa fa-check mr-2 text-primary"></i>Lorem Ipsum dolor
                </h4>
                <p class="mb-3 text-secondary">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                  culpa eos adipisci quam. Aperiam, dolor!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
