<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="/">
    <img src="assets/img/brand-logo.png" />
    <img src="assets/img/brand-logo1.png" />
    <img src="assets/img/brand-logo2.png" />
  </a>

  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
    *ngIf="isAdminPage">
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }">
    <button class="p-link layout-topbar-button" routerLink="/">Home</button>
    <button class="p-link layout-topbar-button" routerLink="/service-catalog">
      Service Offered
    </button>
    <button
      class="p-link layout-topbar-button"
      *ngIf="isAuthenticated"
      routerLink="/admin">
      Dashboard
    </button>
    <button class="p-link layout-topbar-button" routerLink="/contact_us">
      Contact Us
    </button>
    <button
      class="p-link layout-topbar-button"
      *ngIf="!isAdmin"
      routerLink="/appointment">
      Make an Appointment
    </button>
    <button
      class="p-link layout-topbar-button"
      *ngIf="!isAuthenticated"
      routerLink="/login">
      Login
    </button>
    <button
      class="p-link layout-topbar-button"
      *ngIf="!isAuthenticated"
      routerLink="/register">
      Sign Up
    </button>
    <p-megaMenu [model]="items" *ngIf="isAuthenticated"></p-megaMenu>
  </div>
</div>
