<div class="grid">
  <div class="col-12">
    <div class="card border-0 rounded-lg">
      <div class="card-header justify-content-center bg-white border-0">
        <h3 class="my-2" *ngIf="isAdmin">Dashboard</h3>
        <h3 class="my-2" *ngIf="!isAdmin">Patient History</h3>
      </div>
    </div>

    <p-dialog
      header="More Details"
      [(visible)]="display"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false">
      <h5>Prescription Details:</h5>
      <div class="card mb-2">
        <p-scrollPanel
          [style]="{ width: '100%', height: '200px' }"
          styleClass="custombar1 ">
          <p [innerText]="selectedRecord?.information?.prescriptions"></p>
        </p-scrollPanel>
      </div>
      <h5>Attachments:</h5>
      <div class="card">
        <p-scrollPanel
          [style]="{ width: '100%', height: '400px' }"
          styleClass="custombar1 mb-2">
          <div class="row">
            <div class="col-12">
              <p-image
                styleClass="m-2 shadow-4"
                *ngFor="let img of selectedRecord?.information?.attachments"
                [src]="'data:image/jpg;base64,' + img.location"
                [alt]="img.fileName"
                width="250"
                [preview]="true"></p-image>
            </div>
          </div>
        </p-scrollPanel>
      </div>
      <ng-template pTemplate="footer">
        <p-button
          icon="pi pi-check"
          (click)="display = false"
          label="Ok"
          styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>

    <div class="grid">
      <div class="col-12 md:col-6 lg:col-4" *ngIf="isAdmin">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3">Users</span>
              <div class="text-900 font-medium text-xl">{{ userCount }}</div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-blue-100 border-round"
              [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
              <i class="pi pi-users text-blue-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4" *ngIf="isAdmin">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"
                >Patient Records</span
              >
              <div class="text-900 font-medium text-xl">
                {{ registrationCount }}
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-orange-100 border-round"
              [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
              <i class="pi pi-file text-orange-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4" *ngIf="isAdmin">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"
                >Pending Appointments</span
              >
              <div class="text-900 font-medium text-xl">
                {{ pendingAppointments }}
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-cyan-100 border-round"
              [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
              <i class="pi pi-briefcase text-cyan-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 md:col-6 lg:col-4" *ngIf="!isAdmin">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"
                >Done Appointments</span
              >
              <div class="text-900 font-medium text-xl">
                {{ doneAppointments }}
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-green-100 border-round"
              [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
              <i class="pi pi-check-square text-green-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4" *ngIf="!isAdmin">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"
                >Cancelled Appointments</span
              >
              <div class="text-900 font-medium text-xl">
                {{ cancelledAppointments }}
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-red-100 border-round"
              [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
              <i class="pi pi-calendar-times text-red-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-12 md:col-6 lg:col-6" *ngIf="isAdmin">
        <div class="card mb-0 h-100">
          <h3 class="mb-3">Service Breakdown</h3>
          <p-chart
            type="pie"
            [data]="salesBreakdownData"
            [options]="chartOption"
            class="m-auto"
            [style]="{ width: '100%' }"></p-chart>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6" *ngIf="isAdmin">
        <div class="card mb-0">
          <p-toolbar styleClass="mb-4">
            <div class="grid w-100">
              <div class="field col-12 md:col-6 lg:col-6 dashboard">
                <label *ngIf="!isPatientChartAnnual">Date Range</label>
                <p-calendar
                  [(ngModel)]="patientChartDate"
                  selectionMode="range"
                  [readonlyInput]="true"
                  inputId="range"
                  [showClear]="true"
                  *ngIf="!isPatientChartAnnual"></p-calendar>
                <label *ngIf="isPatientChartAnnual">Year</label>
                <p-calendar
                  [(ngModel)]="patientChartYear"
                  view="year"
                  dateFormat="yy"
                  inputId="yearpicker"
                  *ngIf="isPatientChartAnnual"></p-calendar>
              </div>
              <div
                class="field col-12 md:col-6 lg:col-2 dashboard align-content-end">
                <div class="field-checkbox">
                  <p-checkbox
                    [(ngModel)]="isPatientChartAnnual"
                    [binary]="true"
                    inputId="binary"></p-checkbox>
                  <label for="binary">Annual</label>
                </div>
              </div>
              <div
                class="field col-12 md:col-6 lg:col-3 dashboard align-content-end">
                <p-button
                  label="Apply Filter"
                  icon="pi pi-search"
                  (onClick)="applyPatientChartFilter()"></p-button>
              </div>
            </div>
          </p-toolbar>
          <div class="grid">
            <div class="col-12 md:col-8 lg:col-8">
              <h3 class="mb-3">Patient Visits</h3>
              <p-chart
                type="pie"
                [data]="patientData"
                width="350px"
                [options]="chartOption"></p-chart>
            </div>
            <div class="col-12 md:col-4 lg:col-4 align-content-center text-2xl">
              <p>New Patient: {{ newPatientCount }}</p>
              <p>Old Patient: {{ oldPatientCount }}</p>
              <p>Total Visits: {{ newPatientCount + oldPatientCount }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="isAdmin">
        <div class="card">
          <p-table
            [value]="serviceRevenue"
            [rows]="5"
            [paginator]="true"
            [rowsPerPageOptions]="[5, 10, 25, 50]">
            <ng-template pTemplate="header">
              <tr>
                <th><h4>Service Revenue</h4></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-service>
              <tr>
                <td>
                  <h5>{{ service.productName }}</h5>
                  <div class="grid">
                    <div class="col-3 lg:col-offset-2">
                      <label class="text-muted">Service Price</label>
                      <p class="text-xl">
                        {{ service.unitPrice | currency : 'PHP' }}
                      </p>
                    </div>
                    <div class="col-3">
                      <label class="text-muted">Service Count</label>
                      <p class="text-xl">{{ service.serviceCount }}</p>
                    </div>
                    <div class="col-3">
                      <label class="text-muted">Service Revenue</label>
                      <p class="text-xl">
                        {{ service.total | currency : 'PHP' }}
                      </p>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
          </p-table>
        </div>
      </div>
      <div
        class="col-12 md:col-12 lg:col-4"
        *ngIf="!isPasswordAccepted && isAdmin">
        <h5>Sales Report Password</h5>
        <div class="grid">
          <div class="col-8">
            <div class="p-inputgroup">
              <input
                [type]="showPassword ? 'text' : 'password'"
                pPassword
                [(ngModel)]="salesReportPassword"
                class="form-control form-control-lg"
                [feedback]="false" />
              <button
                pButton
                type="button"
                (click)="showPassword = !showPassword"
                [icon]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"
                class="p-inputgroup-addon p-button-outlined p-button-secondary"></button>
            </div>
          </div>
          <div class="col">
            <p-button
              icon="pi pi-check"
              (onClick)="submitPassword()"></p-button>
          </div>
        </div>
      </div>
      <div
        class="col-4 lg:col-offset-8 text-end"
        *ngIf="isPasswordAccepted && isAdmin">
        <p-button
          label="Hide Sales"
          icon="pi pi-minus"
          styleClass="p-button-sm"
          (click)="hideSales()"></p-button>
      </div>
      <div class="col-12" *ngIf="isAdmin && isPasswordAccepted">
        <div class="card">
          <h3>Sales Report</h3>
          <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
              <div class="grid w-100">
                <div class="field col-12 md:col-6 lg:col-2 dashboard">
                  <label>Status</label>
                  <p-dropdown
                    [options]="status"
                    [(ngModel)]="selectedStatus"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6 lg:col-3 dashboard">
                  <label *ngIf="!isAnnual">Date Range</label>
                  <p-calendar
                    [(ngModel)]="rangeDates"
                    selectionMode="range"
                    [readonlyInput]="true"
                    inputId="range"
                    [showClear]="true"
                    *ngIf="!isAnnual"></p-calendar>
                  <label *ngIf="isAnnual">Year</label>
                  <p-calendar
                    [(ngModel)]="year"
                    view="year"
                    dateFormat="yy"
                    inputId="yearpicker"
                    *ngIf="isAnnual"></p-calendar>
                </div>
                <div
                  class="field col-12 md:col-6 lg:col-2 dashboard align-content-end">
                  <div class="field-checkbox">
                    <p-checkbox
                      [(ngModel)]="isAnnual"
                      [binary]="true"
                      inputId="binary"></p-checkbox>
                    <label for="binary">Annual</label>
                  </div>
                </div>
                <div
                  class="field col-12 md:col-6 lg:col-3 dashboard align-content-end">
                  <p-button
                    label="Apply Filter"
                    icon="pi pi-search"
                    (onClick)="applyFilter()"></p-button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="right">
              <button
                pButton
                pRipple
                type="button"
                pTooltip="Export PDF"
                tooltipPosition="bottom"
                label="Export"
                icon="pi pi-file-pdf"
                class="p-button-danger"
                (click)="extractSalesReport()"></button>
            </ng-template>
          </p-toolbar>
          <p-table
            [value]="sales"
            [rows]="5"
            [paginator]="true"
            [rowsPerPageOptions]="[5, 10, 25, 50]">
            <ng-template pTemplate="caption">
              <div class="grid">
                <div class="flex justify-content-end col-12">
                  <h4>Total Sales: {{ totals | currency : 'PHP' }}</h4>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Patient Name</th>
                <th>Appointment</th>
                <th>Services</th>
                <th>Status</th>
                <th>Price</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale>
              <tr>
                <td>{{ sale.patientName }}</td>
                <td>{{ sale.appointment }}</td>
                <td>{{ sale.service }}</td>
                <td>{{ sale.status }}</td>
                <td>{{ sale.price | currency : 'PHP' }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
          </p-table>
        </div>
      </div>
      <!-- patient history -->
      <div class="col-12" *ngIf="!isAdmin">
        <div class="card">
          <h5>Patient History</h5>
          <p-table
            [value]="patientTable"
            [rows]="5"
            [paginator]="true"
            [rowsPerPageOptions]="[5, 10, 25, 50]">
            <ng-template pTemplate="caption"> Past Treatments: </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Date</th>
                <th>Procedure</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>
                  {{
                    item.information.appointmentDate | date : 'MMMM dd, yyyy'
                  }}
                </td>
                <td>{{ item.productInfo.name }}</td>
                <td>{{ item.information.amount ?? 0 | currency : 'PHP' }}</td>
                <td>
                  <button
                    title="View Details"
                    pButton
                    pRipple
                    icon="pi pi-eye"
                    class="p-button-rounded p-button-text p-button-secondary"
                    (click)="showDetails(item)"></button>
                  <button
                    title="Export"
                    pButton
                    pRipple
                    icon="pi pi-download"
                    class="p-button-rounded p-button-text p-button-info"
                    (click)="exportPatientInfo(item)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
