<div class="site-footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5"></div>
      <div class="col-lg-4">
        <div class="widget">
          <h3>Connect with us</h3>
          <ul class="social list-unstyled">
            <li>
              <a href="//fb.com/profile.php?id=61567032646587" target="_blank"
                ><span class="fa-brands fa-facebook-f"></span
              ></a>
            </li>
            <li>
              <a href="//instagram.com/ocampo_dentalclinic/"
                ><span class="fa-brands fa-instagram"></span
              ></a>
            </li>
            <li>
              <a href="mailto:o.dental2010@gmail.com"
                ><span class="fa-brands fa-google"></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget">
          <h3>Get in Touch</h3>
          <p>
            <i class="fa fa-map-marker-alt me-3"></i>107 McArthur Hi-way
            Camachiles, Mabalacat City, Pampanga
          </p>
          <p><i class="fa fa-phone-alt me-3"></i>(+63) 936-307-1596</p>
          <p><i class="fa fa-envelope me-3"></i>o.dental2010&#64;gmail.com</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center text-center copyright">
      <div class="col-md-8">
        <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          . All Rights Reserved. Ocampo Dental Clinic
        </p>
      </div>
    </div>
  </div>
</div>
