<form [formGroup]="scheduleForm">
  <div class="stepsdemo-content">
    <p-card>
      <ng-template pTemplate="title"> Schedule </ng-template>
      <ng-template pTemplate="content">
        <div class="grid">
          <div class="col-12 md:col-12 lg:col-12">
            <h5>Select Service:<span style="color: red">*</span></h5>
          </div>
          <div class="col-12 md:col-12 lg:col-12" *ngIf="showProduct">
            <div class="card">
              <p-dataView
                #dv
                [value]="product"
                [paginator]="true"
                [rows]="9"
                filterBy="name"
                [sortField]="sortField"
                [sortOrder]="sortOrder"
                layout="grid">
                <ng-template pTemplate="header">
                  <div
                    class="flex flex-column md:flex-row md:justify-content-between">
                    <p-dropdown
                      [options]="sortOptions"
                      [(ngModel)]="sortKey"
                      placeholder="Sort By Price"
                      (onChange)="onSortChange($event)"
                      styleClass="mb-2 md:mb-0"
                      [ngModelOptions]="{ standalone: true }"></p-dropdown>
                    <span class="p-input-icon-left mb-2 md:mb-0">
                      <i class="pi pi-search"></i>
                      <input
                        type="search"
                        pInputText
                        placeholder="Search by Name"
                        (input)="dv.filter($any($event.target).value)" />
                    </span>
                  </div>
                </ng-template>
                <ng-template let-product pTemplate="gridItem">
                  <div
                    class="col-12 md:col-6 lg:col-4"
                    pTooltip="{{ product.description }}"
                    tooltipPosition="right">
                    <div
                      class="product-grid-item card cursor-pointer"
                      (click)="selecitem(product)"
                      [ngStyle]="{
                        border: selectedProduct == product.id ? 'solid' : 'none'
                      }">
                      <div class="product-grid-item-content">
                        <img [src]="product.image" />
                        <div class="product-name">{{ product.name }}</div>
                      </div>
                      <div class="product-grid-item-bottom">
                        <span class="product-price">{{
                          product.price | currency : 'PHP'
                        }}</span>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </div>
          </div>
        </div>
        <div class="grid" *ngIf="selectedProduct">
          <div class="p-fluid col-12 md:col-12 lg:col-12">
            <div class="field">
              <p-card>
                <h5>Service Offered:</h5>
                {{ productDetails?.description }} <br />
                <h5 class="mt-4">Duration:</h5>
                {{ productDetails?.duration }} hr(s) <br />
                <h5 class="mt-4">Price:</h5>
                {{ productDetails?.price | currency : 'PHP' : 'symbol' }}
              </p-card>
            </div>
          </div>
        </div>
        <div class="grid" *ngIf="showCalendar">
          <div class="field col-12 md:col-12 lg:col-6">
            <h5>Date<span style="color: red">*</span></h5>
            <p-divider></p-divider>
            <p-calendar
              [inline]="true"
              formControlName="appointmentDate"
              dataType="string"
              [(ngModel)]="appointmentDate"
              (onSelect)="resetSelectedTime()"
              disabledWeekends="true"
              [minDate]="today"
              [disabledDates]="invalidDates"
              [disabledDays]="[4]">
              <ng-template pTemplate="date" let-date>
                <span
                  [ngClass]="{
                    'text-danger font-semibold': isFullyBook(
                      date.day,
                      date.month,
                      date.year
                    )
                  }"
                  >{{ date.day }}</span
                >
              </ng-template>
            </p-calendar>
          </div>
          <div class="field col-12 md:col-12 lg:col-6">
            <h5>Time<span style="color: red">*</span></h5>
            <p-divider></p-divider>
            <!-- Time  -->
            <div *ngIf="scheduleForm.get('appointmentDate')?.value">
              <div
                class="row"
                *ngFor="let time of appointmentTime; let i = index">
                <div class="col">
                  <div class="field-radiobutton">
                    <p-radioButton
                      name="appointmentTime"
                      [value]="time.id"
                      [label]="time.name.split('-')[0]"
                      formControlName="appointmentTime"
                      [disabled]="
                        time.availableSlot === 0 ||
                        isTimeDisabled(time.militaryTime)
                      ">
                    </p-radioButton>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
          <p-button
            label="Next"
            (onClick)="nextPage()"
            icon="pi pi-angle-right"
            iconPos="right"
            [disabled]="scheduleForm.invalid"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</form>
